* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  height: 100%;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  background-image: url("grad-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.container {
  position: relative;
  /* transform: translate(calc(50vw - 50%), calc(50vh - 50%)); */
  padding: 100px;
  display: grid;
  width: 30vw;
  grid-template-columns: 1fr;
  gap: 10px;
}

.a-apps {
  padding: 16px;
  background-color: #54a8e9;
  text-decoration: none;
  color: white;
  border: 2px solid #54a8e9;
  border-radius: 20px;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.1rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  transition: color 400ms;
  transition-timing-function: ease-out;
}

.a-apps:hover {
  color: #54a8e9;
  background-color: white;
}

#a-github {
  padding:100px;
  font-size: x-large;
}

#a-github a:link, #a-github a:visited {
  text-decoration: none;
  border-bottom: 2px double #171515;
  border-bottom: double;
  color: #171515;
}
